@import 'tailwindcss/base'; @import 'tailwindcss/components'; @import 'tailwindcss/utilities';

:root { --background: #fff; --foreground: #171717 }

@media (prefers-color-scheme: dark) { :root { --background: #000; --foreground: #ededed;
color-scheme: dark } }

body { color: var(--foreground); background: var(--background); margin: 8px;
font-family: Arial, Helvetica, sans-serif }

input { border-width: 2px; border-color: light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
border-radius: 2px }

input[type="text" i] { padding-block: 1px; padding-inline: 2px }
svg { display:inline-block; user-select:none; vertical-align:text-bottom; overflow:visible }

.hQsKGs { margin-left: 1vw; color: var(--button-invisible-iconColor-rest, var(--fgColor-muted,
  var(--color-fg-muted, #848d97))); padding: unset; user-select: none; border-radius: 6px;

border-width: 1px; border-style: solid; border-color: transparent }

.hQsKGs:hover:not([disabled]) { background-color: var(--control-transparent-bgColor-hover,
var(--color-action-list-item-default-hover-bg, rgba(177, 186, 196, 0.12) ) ) }

.__primerPortalRoot__ { position: absolute; top: 0px; left: 0px }
#rel { position: relative; z-index: 1 }
.eAydfi { position: absolute; left: 441.453px; top: 122px }

@layer utilities { .text-balance { text-wrap: balance } }