@import 'tailwindcss/base'; @import 'tailwindcss/components'; @import 'tailwindcss/utilities';
:root { --background: #fff; --sl: 30%; --foreground: #171717; --ds-gray-900-value: 0, 0%, 63%;
  --ds-gray-1000-value: 0, 0%, 93% }
@media (prefers-color-scheme: dark) { :root { --background: #000; --foreground: #ededed;
  color-scheme: dark } }
body { color: var(--foreground); background: var(--background); margin: 8px }
.split { height: 100%; position: relative; z-index: 1; top: 0; overflow-x: hidden }
main { width: calc(100% - 2*var(--sl)); margin: 1vw 0 0 var(--sl) }

input { border-width: 1px; background-color: transparent }
  /* border-color: light-dark(rgb(118, 118, 118), rgb(133, 133, 133)); border-radius: 2px; */
input[type="text" i] { padding-block: 1px; padding-inline: 2px }
svg { display:inline-block; user-select:none; vertical-align:text-bottom; overflow:visible }

.tailwind :is(.text-gray-900) { --tw-text-opacity: 1;
  color: hsla(var(--ds-gray-900-value),var(--tw-text-opacity)) }
.tailwind :is(.hover\:text-gray-1000:hover){--tw-text-opacity:1;
  color:hsla(var(--ds-gray-1000-value),var(--tw-text-opacity))}
/* button:disabled { background-color: var(--button-primary-bgColor-disabled,
  var(--color-btn-primary-disabled-bg, rgba(102, 51, 153, 0.6))) !important }

button { background-color: rebeccapurple !important } */

.hQsKGs { margin-left: 1vw; color: var(--button-invisible-iconColor-rest, var(--fgColor-muted,
  var(--color-fg-muted, #848d97))); padding: unset; user-select: none; border-radius: 6px;

border-width: 1px; border-style: solid; border-color: transparent }

.hQsKGs:hover:not([disabled]) { background-color: var(--control-transparent-bgColor-hover,
var(--color-action-list-item-default-hover-bg, rgba(177, 186, 196, 0.12) ) ) }

.hQsKGs[data-size="small"][data-component="IconButton"] { width: 28px; height: 28px }

.__primerPortalRoot__ { position: absolute; top: 0px; left: 0px }
#rel { position: relative; z-index: 1 }
.eAydfi { position: absolute; left: 441.453px; top: 122px }

@layer utilities { .text-balance { text-wrap: balance } }